*{
	margin:0;
	padding:0
}
body{
	font-size:12px; font-family:Tahoma; color:#000000; margin:0; padding:0;height:100%;
	background:#f1f1f1;
}
ul{
	list-style-type:none;
}

a{
	/*去除点击虚线框*/ 
	hide-focus: expression(this.hideFocus=true); /* for ie 5+ */
	outline: none; /* for firefox 1.5 + */
	text-decoration:none;
} 
img{
	border:none
}
.field{
	margin:10px;
}
.field label{
	float:left;
	padding:6px;
}
.field input.text{
	border:1px solid #c5c5c5;
	padding:6px;
	background:url(../images/admin_img/field_text_bg.jpg) repeat-x left center;
}
.field .button{
	background:url(../images/admin_img/login_button.jpg) no-repeat left center;
	border:none;
	width:94px;
	height:28px;
	cursor:pointer;
}
.side_switch{
	width:10px;
	height:41px;
	position:absolute;
	left:197px;
	z-index:2;
	top:350px;
	cursor:pointer;
	background:url(../images/admin_img/close_side_ico.jpg) no-repeat left center;
}
.side_switchl{
	width:10px;
	height:41px;
	position:absolute;
	z-index:2;
	top:350px;
	display:none;
	cursor:pointer;
	background:url(../images/admin_img/close_side_icol.jpg) no-repeat left center;
}
/*top*/
.top{
	width:100%;
	height:68px;
	background:url(../images/admin_img/top_bg.jpg) repeat-x left top;
	
}

.top .admin_logo{
	height:68px;
	float:left;
	margin-right:20px;
}
.top .admin_logo img{
	margin-top:10px;
	margin-left:15px;
	
}
.top_nav{
	height:30px;
	
	width:1100px;
	background:url(../images/admin_img/top_nav_bg.jpg) no-repeat center 0;
   margin-top:38px;
	margin-left:10px;
   	
}
.top_about{
	position:absolute;
	height:30px;
	overflow:hidden;
	width:170px;
	right:50px;
	background:url(../images/admin_img/top_help.jpg) no-repeat center 0;
	top:0;
}
.top_about a{
	float:left;
	line-height:20px;
	color:#5F5F5F;
}
.top_about a.help1{
	margin-left:45px;
}
.top_about a.help2{
	margin-left:30px;
}
.top_nav li{
	float:left;
	padding-left:6px;
}
.top_nav a{
	display:block;
	padding:8px 17px 8px 17px;
	text-align:center;
	overflow:hidden;
	margin:0;
	color:#5f5f5f;
}
.top_nav .selected{
	background:url(../images/admin_img/top_nav_selected.png) no-repeat 0 0;
	color:#fff;
	width:130px;
	padding:8px 0;
}
.top_member{
	height:28px;
	width:100%;
	clear:both;
	color:#5f5f5f;
	line-height:25px;
	text-indent:10px;
	background:url(../images/admin_img/top_member.jpg) repeat-x 0 bottom;
}
.top_member a{
	color:#5f5f5f;
	
}

/*left*/
#main_content{zoom:1;float:left}
.left{
	width:205px;
	height:100%;
	display:block;
	background:url(../images/admin_img/side_bg.jpg) repeat-y 0 0;

}


#scroll{overflow:hidden}
.scroll{ position:absolute; left:40px; bottom:5px;width:120px; height:17px; overflow:hidden; z-index:1000; display:none}
.scroll a{ background:url(../images/admin_img/scroll_bg.png) no-repeat left top; width:48px; height:17px; margin:0 5px;}
.scroll a{display:inline-block;zoom:1;*display:inline;}
.scroll a:hover{ background-position:left bottom}
.scroll a.next{background-position:right top}
.scroll a.next:hover{ background-position:right bottom}

/*分类菜单*/
.cat_menu{ width:193px; margin:25px 5px 0 1px;float:left; background:#fff;border:1px solid #f4f6f5;zoom:1; display:none }
.cat_menu div.content{border:1px solid #D6D6D6;zoom:1;}

.member_info{
	position:relative;
	margin-top:-3px;
	background:url(../images/admin_img/member_info.png) no-repeat 0 0;
	width:271px;
	height:40px;
}
.member_info a{
	color:#f1f1f1;
	line-height:24px;
}
.member_ico img{
	padding:4px 0 0 4px;
}
.member_ico{
	width:55px;
	height:55px;
	position:absolute;
	margin-top:-20px;
	margin-left:5px;
	border:none;
	background:url(../images/admin_img/member_info_ico.png) no-repeat 0 0;
}
.member_info a.system_a{
	margin-left:80px;
	margin-right:0px;
}
.member_info a.system_logout{
	margin-left:30px;
}
.left .left_title{
	clear:both;
	width:197px;
	height:34px	height:34px;
	border-bottom:1px solid #5093d1;
	margin:10px 0 10px 0px;
	line-height:36px;
	text-indent:40px;
	font-weight:bold;
	background:url(../images/admin_img/left_title.jpg) no-repeat 0 0;
	cursor:pointer;
}

.left .left_title_up{
	clear:both;
	width:197px;
	height:34px;
	border-top:1px solid #5093d1;
	border-bottom:1px solid #5093d1;
	margin:10px 0 10px 0px;
	line-height:36px;
	text-indent:40px;
	font-weight:bold;
	background:url(../images/admin_img/left_title_up.jpg) no-repeat 0 0;
	cursor:pointer;
}
.left .side li{
	margin:0;
	padding:0;
	width:205px;
	text-indent:30px;
	overflow:hidden;
	background: url(../images/admin_img/left_ico_default.gif)  no-repeat 25px center;
	
}
.left .side a{
	display:block;
	padding:10px;
	text-align:left;
	color:#f1f1f1;
	margin-right:10px;
	
}
.left .side a:hover{
	background:#2d689f;
	background:#2d689f url(../images/admin_img/left_ico_light.gif)  no-repeat 25px center;
	
}
.left .side .selected{
	background:#2d689f url(../images/admin_img/left_ico_light.gif)  no-repeat 25px center;
}
.left .side .selected:hover{
	background:#2d689f url(../images/admin_img/left_ico_light.gif)  no-repeat 25px center;
}
.left ul.catsub a{
	font-weight:bold;
}
.left ul.catsub a:hover{
	background:none;
}
.left ul.catsub li.feed{
	
	background:url(../images/admin_img/feed.jpg) no-repeat 20px center;
}
.left ul.catsub li{
	border-top:1px solid #2969a6;
	width:195px;
}
.left ul.catsub li a{
	border-top:1px solid #488bcb;
}

.left ul.catsub li.side_about{
	background:url(../images/admin_img/side_about.jpg) no-repeat 20px center;
}
/*right*/

.right{float:left;margin-top:25px;zoom:1;}
.right div.content{border:1px solid #D6D6D6;zoom:1;}
.body{
	width:100%;
	margin:0 auto;
	
}
.top_subnav{
	text-indent:5px;
	padding:5px;
	background:url(../images/admin_img/li_ico.jpg) no-repeat 0px center;
	height:15px;
	line-height:15px;
	position:absolute;
	z-index:1001;
	top:75px;
	left:210px;
}
.top_subnav_hide{
	text-indent:5px;
	padding:5px;
	background:url(../images/admin_img/li_ico.jpg) no-repeat 0px center;
	height:15px;
	line-height:15px;
	position:absolute;
	z-index:1001;
	top:75px;
	left:10px;
	
}
.title{
	height:33px;
	width:100%;
	margin:20px auto;
	background:#fff url(../images/admin_img/title_bg.jpg) repeat-x 0 top;
}
.title_info{
	border:1px solid #d6d6d6;
	height:30px;
	line-height:30px;
	padding-left:50px;
	font-weight:bold;
}
.title_info a{font-weight:normal; color:#3186c8;}

.title_info label{font-weight:normal;}
.zs{
	background:url(../images/admin_img/zs_ico.jpg) no-repeat 10px center;
}
.light{
	background:url(../images/admin_img/light_ico.jpg) no-repeat 14px center;
}

.login_info{
padding:10px 0 10px 70px;
	background:url(../images/admin_img/ico_clock.jpg) no-repeat 30px center;
}

.login_info a{
	color:#3186c8;
}

.line{
	height:1px;
	width:97%;
	border-top:1px solid #dfdfdf;
	background:#fff;
	margin:10px auto;
	overflow:hidden;
}
.quick_block{
	clear:both;
	margin:0 auto;
	padding-left:45px;
}
.quick_block a {
	display:block;
	width:60px;
	overflow:hidden;
	float:left;
	text-align:center;
	color:#5f5f5f;
	padding:10px;
}
.quick_block a img{
	padding:5px 5px 10px 5px;
	width:30px;
	height:30px;
}
.quick_block a span{
	display:block;
}
a.button{
	clear:both;
	background:url(../images/admin_img/light_btn.jpg) repeat-x left center;
	border:1px solid #bfcfe1;
	text-indent:15px;
	height:23px;
	line-height:25px;
	width:140px;
	padding:0 0 0 10px;
	margin:20px 0 0 10px;
}
a.button span{
	display:block;
	background:url(../images/admin_img/btn_add_ico.jpg) no-repeat left center;
}
.use_meth{
	padding-bottom:20px;
}
.use_meth p{
	clear:both;
	padding-left:50px;
	line-height:30px;
	float:left;
}
p span{
	float:left;
}
p a{
	display:block;
	background:#fff url(../images/admin_img/default_btn.jpg) repeat-x center center;
	overflow:hidden;
	padding:0px 10px 0px 10px;
	border:1px solid #c7c7c7;
	line-height:25px;
	float:left;
	margin-left:20px;
	color:#000;
}
/*iframe width 100%*/
.right_body{
	height:100%;
	
	margin:0 5px;
}
.title_h2{
	margin-left:0px;
	font-size:12px;
		
	
}
.filed label{
	position:absolute;
	padding:6px 3px 6px 0px;
}
.filed input {
	margin-left:50px;
	padding:3px;
	border-top:1px solid #bebebe;
	border-left:1px solid #bebebe;
	border-right:1px solid #e1e1e1;
	border-bottom:1px solid #e1e1e1;
	background:url(../images/admin_img/input_bg.jpg) repeat-x 0 0;
	margin-right:10px;
}
.filed .button{
	width:66px;
	height:30px;
	border:none;
	margin:0;
	padding:0;
	margin-top:-4px;
	background:url(../images/admin_img/button_s.jpg) no-repeat 0 0;
}
.fl{
	float:left;
}
.select{
	margin-left:50px;
	background:none; 
	border:none;
}
.table{
	clear:both;
	width:100%;
	border:1px solid #d6d6d6;
	border-collapse:collapse;

}
.table th{
	text-align:left;
	border-top:1px solid #dfdfdf;
	padding:5px;
	background:#f1f1f1;
	padding-left:15px;
}
.table td{
	border-top:1px solid #dfdfdf;
	padding:8px;
	padding-left:15px;
	background:#fff;
	text-align:center
}
.table th.top_th a{
	float:left;
	overflow:hidden;
	width:40px;
}
.table th.top_th{
	background:url(../images/admin_img/table_th.jpg) repeat-x 0 0;
	line-height:31px;
	height:31px;
	padding:0;
}
.table tr th{
	background:url(../images/admin_img/table_th.jpg) repeat-x 0 0;
	line-height:31px;
	height:31px;
	padding:0;
	padding-left:5px;
	text-align:center;
}
.page p span{
	text-decoration:underline;
}
.page ul{
	float:right;
}
.page ul li{
	float:left;
	padding:3px;
}
.page ul li a {
	display:block;
	background:url(../images/admin_img/page_bg.jpg)  0 0;
	padding:1px 3px 1px 3px;
	border:1px solid #a3a3a3;
	color:#000;
	height:15px;
	line-height:15px;
}
.page ul li.pg_selected a{
	color:#fff;
	border:1px solid #245b8e;
	background:#417eb7;
}
.page p{
	padding:3px;
}
.page a.pg_next,.page .pg_index,.page .pg_last{
	border:none;
	background:none;
	line-height:19px;
	_line-height:17px;
}
.hidden{display:none}
.table th a{
	padding:2px 3px 1px 23px;
	float:left;
	line-height:28px;
	color:#333;
	font-weight:200;
	
}
.table th a em{
	float:left;
	font-style: normal;
}
.table th a span{
	background:url(../images/admin_img/line_line.jpg) no-repeat right center;
	width:10px;
	height:24px;
	float:right;
	display:block;
	
}
.table .add{
	background:url(../images/admin_img/add_ico_.jpg) no-repeat 0 center;
}
.table .edit{
	background:url(../images/admin_img/edit_ico.jpg) no-repeat 0 center;
}
.table .tongji{
	background:url(../images/admin_img/tj_ico_.jpg) no-repeat 0 center;
}
.table .sort{
	background:url(../images/admin_img/sort_ico.jpg) no-repeat 0 center;
}
.table .sort span{
	background:none;
}
.tablelist{padding-top:23px;}

tr.sorter a{text-decoration:underline;margin:0px 0px 0px 5px;font-weight:bold}
.sorter a.asc
{
	background:url(../images/admin_img/up.gif) right center no-repeat;
	padding-right:10px
}

.sorter a.desc
{
	background:url(../images/admin_img/down.gif) right center no-repeat;
	padding-right:10px
	
}

/*锁频*/
.ScreenLock {background-color:#3a6ea5;background-image:url("../images/admin_img/ScreenLock.png")}
.ScreenLock {background-position:50% 50%;background-repeat:no-repeat;height:100%;left:0;position:absolute;top:0;width:100%;z-index:2000}
.ScreenLock .inputpwd {font-size:14px;height:134px;left:50%;margin:-102px 0 0 -150px;padding:28px;position:absolute;top:50%;width:280px}
.ScreenLock h5{ height:60px; line-height:60px; padding-top:10px; padding-left:40px;background:url(../images/admin_img/msg_bg.png) no-repeat 0px -476px;}
.ScreenLock .input-text{border:1px solid #A7A6AA;height:18px;margin:0 5px 0 0;padding:2px 0 2px 5px;border: 1px solid #d0d0d0;background: #FFF url(../images/admin_img/input.png) repeat-x; font-family: Verdana, Geneva, sans-serif,"宋体";font-size:12px;}
.ScreenLock .submit{ background: url(../images/admin_img/ScreenLockBut.png) no-repeat; height:24px; width:55px;cursor:hand;display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline; border:none}
/*列表页顶部操作菜单*/
.action_menu{margin-top:5px;margin-bottom:5px;line-height:25px;height:25px;width:100%;float:left}
.action_menu li{float:left;margin-right:10px;}
.action_menu li a{text-decoration:none;line-height:22px;height:22px;display:block;padding:0px 10px; border-radius:2px;background:#ccc;color:#fff;}
.action_menu li.on a{color:#fff; background:#427FB8;}
.action_menu li a.search_trigger{background:none;color:#3399CC;}
/*列表页底部菜单*/
.bt_act{float:left;margin-bottom:5px;width:100%;padding:5px 0px; background:#f5f5f5}
.bt_act a{display:block;background:#ccc;color:#000;padding:5px 10px;margin-left:10px;float:left;height:15px;line-height:15px;text-decoration:none;border-right:1px solid #666;border-bottom:1px solid #666;}
.bt_act a:hover{text-decoration:none}
/*表单验证信息样式*/
.flash-success{background:#fbffe4;font-weight:bold;color:#00CC00;height:26px;line-height:26px;z-index:999;position:absolute;top:0px;text-indent:10px;}
.flash-failed{background:#fbffe4;font-weight:bold;color:#ff0000;height:26px;line-height:26px;z-index:999;position:absolute;top:0px;text-indent:10px;}
span.required{color:#ff0000;}
.errorMessage{color:#ff0000;float:left; display:none;margin-left:5px;}
.hintMessage{color:#ccc;float:left;}
.successMessage{color:#00CC00;float:left; display:none}
/*通用表单*/
.common_form{clear:both;margin:10px auto;width:100%;}
.common_form table{width:100%;border-collapse:collapse;margin-bottom:10px;float:left; border:1px solid #d6d6d6; background:#ffffff;}
.common_form select{float:left;}
.common_form textarea{border:1px solid #c5c5c5;padding:0px;line-height:20px;float:left; font-size:12px}
.common_form table tr td.ckeditor_td{padding:5px;}
.shadow{
filter:progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=120,strength=2);/*ie*/
-moz-box-shadow: 2px 2px 2px #cccccc;/*firefox*/
-webkit-box-shadow: 2px 2px 2px #cccccc;/*safari或chrome*/
box-shadow:2px 2px 2px #cccccc;/*opera或ie9*/
}
.common_form table tr td{border-bottom:1px solid #d6d6d6;padding:5px 0px 5px 5px;line-height:20px;height:20px;}
.common_form input.text{border:1px solid #c5c5c5;padding:0px;line-height:20px;height:20px;float:left;}
.default_btn{background:url(../images/admin_img/default_btn.jpg) repeat-x 0 0;height:25px;line-height:25px;padding:0 10px;border:1px solid #ccc;}
.hidden_submit{display:none}
.input_list_order{border:1px solid #A7A6AA;height:18px;padding:2px 0 0; text-align:center}
.common_form table tr td.right_td{width:300px;vertical-align:top;padding-right:5px}

/*列表页顶部搜索*/
.list_search_form{float:left;clear:both;width:100%;background:#FFFCED;margin-bottom:5px;line-height:25px;padding:5px 0px;}
.list_search_form span{margin-left:5px;float:left;line-height:25px;height:25px;}
.table tr:hover td{background:#fbffe4;}
.sorter_container{margin:0px;height:20px;line-height:20px;float:right;margin-bottom:5px;}
