@CHARSET "UTF-8";
* {margin:0;padding:0;}
body {font-size:12px;font-family:Tahoma;color:#000000;margin:0;padding:10px;height:100%;background:#f1f1f1;}

.topmenu {height:25px;line-height:25px;margin:5px 0;clear:both;overflow:hidden;}
.topmenu li {float:left;margin:0 10px 0 0;}
.topmenu li a {display:block;height:22px;line-height:22px;padding:0 10px;text-decoration:none;color:#ffffff;border-radius:2px 2px 2px 2px;background:#cccccc;}
.topmenu .current a {background:#427FB8;}


table {border:1px solid #D6D6D6;border-collapse:collapse;clear:both;width:100%;}
table th {background:url("../images/admin_img/table_th.jpg") repeat-x scroll 0 0 transparent;height:31px;line-height:31px;padding:0 0 0 5px;text-align:center;}
table td {background:#FFFFFF;border-top:1px solid #DFDFDF;padding:8px 8px 8px 15px;text-align:center;}

.paginator {height:30px;line-height:30px;margin:10px 0;padding:0 10px;clear:both;overflow:hidden;text-align:right;background:#ffffff;}
.paginator a {margin:0 5px;padding:2px 3px;border:1px solid #cccccc;text-decoration:none;color:#000000;}
.paginator .current {background:#417EB7;color:#ffffff;}

.gamedogtype {float:left;}
.gamedogtype .title {float:left;overflow:hidden;}
.gamedogtype .gamedogtypechecks {float:left;overflow:hidden;}
.gamedogurl {margin:0 0 0 10px;float:left;}
.gamedogurl .title {float:left;}
.gamedogurl .gamedogurlholder {float:left;}


.gamedogtype2 {float:left;}
.gamedogtype2 .title {float:left;overflow:hidden;}
.gamedogtype2 .gamedogtypechecks {float:left;overflow:hidden;}
.gamedogurl2 {margin:0 0 0 10px;float:left;}
.gamedogurl2 .title {float:left;}
.gamedogurl2 .gamedogurlholder {float:left;}

.ptbustype {float:left;}
.ptbustype .title {float:left;overflow:hidden;}
.ptbustype .ptbustypechecks {float:left;overflow:hidden;}
.ptbusurl {margin:0 0 0 10px;float:left;display:inline;}
.ptbusurl .title {float:left;}
.ptbusurl .ptbusurlholder {float:left;}
#keyword,#ptbusurl{width:60px;}